@keyframes Root {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Menu {
    0% {
        transform: translate(-50%, 100%);
    }

    66% {
        transform: translate(-50%, -16px);
    }

    100% {
        transform: translate(-50%, 0%);
    }
}

@keyframes Notification {
    0% {
        transform: translate(100%, 0);
    }

    66% {
        transform: translate(-16px, 0);
    }

    100% {
        transform: translate(0%, 0%);
    }
}