/*
===============================================================================
 This file contain extra CSS rules to customize the YunoHost user portal and
 can be used to customize app tiles, buttons, etc...
===============================================================================
*/

/* Color vars */
:root {
    --radius: 999px;
    --smol-radius: 32px;
    --shadow: 0px 8px 16px #00000010;
}

:root[data-theme="theme-day"] {
    --bg: #e0f6ff;
    --bg-img: url('img/day.webp');
    --icon: brightness(0) saturate(100%) invert(18%) sepia(68%) saturate(4229%) hue-rotate(173deg) brightness(92%) contrast(101%);
    --icon-imp: brightness(0) saturate(100%) invert(8%) sepia(4%) saturate(8%) hue-rotate(323deg) brightness(97%) contrast(89%);
    --widget: #ffffff;
    --important: #ffaa2c;
    --text: #202020;
}

:root[data-theme="theme-dawn"] {
    --bg: #1b102f;
    --bg-img: url('img/dawn.webp');
    --icon: brightness(0) saturate(100%) invert(60%) sepia(99%) saturate(2157%) hue-rotate(223deg) brightness(100%) contrast(102%);
    --icon-imp: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(74deg) brightness(104%) contrast(101%);
    --widget: #361a50;
    --important: #ff185d;
    --text: white;
}

:root[data-theme="theme-night"] {
    --bg: #000814;
    --bg-img: url('img/night.webp');
    --icon: brightness(0) saturate(100%) invert(66%) sepia(25%) saturate(5213%) hue-rotate(184deg) brightness(103%) contrast(101%);
    --icon-imp: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(74deg) brightness(104%) contrast(101%);
    --widget: #000f34;
    --important: #004686;
    --text: white;
}

:root[data-theme="theme-comet"] {
    --bg: #0c2121;
    --bg-img: url('img/comet.webp');
    --widget: #004346;
    --icon: brightness(0) saturate(100%) invert(75%) sepia(64%) saturate(5811%) hue-rotate(125deg) brightness(95%) contrast(93%);
    --icon-imp: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(74deg) brightness(104%) contrast(101%);
    --important: #09bc8a;
    --text: white;
}

/* Make page texts black */
.user-container h2,
.user-container small,
.user-container .user-mail,
.user-container .user-mail,
.footer a,
#ynh-logout {
    color: var(--text) !important;
    border-radius: var(--radius);
}

.ynh-user-portal {
    /*background: linear-gradient(180deg, #0000, var(--bg)), var(--bg-img) center center no-repeat;*/
    background: var(--bg-img) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#ynh-logout:hover {
    background-color: var(--important) !important;
    color: var(--text) !important;
}

/* Apps colors */
.app-tile {
    box-shadow: var(--shadow);
    background-color: var(--widget) !important;
    border-radius: var(--smol-radius);
    color: var(--text) !important;
}

.app-tile:hover {
    background-color: var(--important) !important;
    border-radius: var(--smol-radius);
    color: var(--text) !important;
}

.app-tile:hover:after,
.app-tile:focus:after,
.app-tile:hover:before,
.app-tile:focus:before {
    background: #002FBB00 !important;
}

.form-text {
    box-shadow: var(--shadow);
    background: var(--widget);
    border-radius: var(--radius);
    color: var(--text) !important;
}

.form-text:hover {
    background: var(--important) !important;
}

.btn, .classic-btn, .large-btn {
    box-shadow: var(--shadow);
    background-color: var(--widget) !important;
    border-radius: var(--radius);
    color: var(--text) !important;
}

.classic-btn:hover, .large-btn:hover {
    background-color: var(--important) !important;
    color: var(--text) !important;
    text-decoration: none;
}

.validate-btn:hover {
    background-color: var(--important) !important;
    color: var(--text) !important;
}

.link-btn:hover {
    background-color: var(--important) !important;
    border-radius: var(--radius);
}

.messages.info {
    box-shadow: var(--shadow);
    background: var(--widget) !important;
    border-radius: var(--radius);
    color: var(--text) !important;
}

.messages.danger {
    box-shadow: var(--shadow);
    background-color: var(--widget) !important;
    border-radius: var(--radius);
    color: var(--text) !important;
}

.control-label {
    box-shadow: var(--shadow);
    margin: 4px 0;
    background: var(--bg);
    border-radius: var(--radius);
    color: var(--text) !important;
}

.form-text::placeholder {
    color: var(--text);
}

/* Use a custom logo image */
#ynh-logo {
    z-index: 10;
    background-image: url("img/cloud2.png");
}

.listing-apps {
    color: var(--text) !important;
}

/* Custom stuff */
.listing-apps li,
.listing-apps a::after,
.listing-apps a::before {
    box-shadow: none;
}

.login-form label::before {
    background: transparent;
}

.login-form .form-group {
    border-radius: var(--radius);
}

.ynh-logo {
    opacity: 1;
}

.app-tile {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 32px;
}

.form-group > input {
    background-color: var(--bg) !important;
    padding: 0.8em !important;
}

.form-group > label {
    display: none;
}

.form-group > input::placeholder {
    opacity: 0.75 !important;
    color: var(--text) !important;
}

* {
    /*font-family:  "Noto Sans", Inter, sans-serif !important;
    font-weight: inherit;*/
}

.app-image {
    height: 35%;
    filter: var(--icon);
    /*transition: all ease-out 0.25s;*/
}

.app-tile:hover .app-image {
    filter: var(--icon-imp);
}

.name {
    font-size: .225em !important;
    font-weight: bold !important;
    font-family: Inter, sans-serif !important;
}