@keyframes Menu {
    from {
        transform: translate(-50%,100%);
    }

    to {
        transform: translate(-50%,0%);
    }
}
@keyframes MobileMenu {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes Hewwo {
    from {
        opacity: 0;
        transform: translateY(10vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes HewwoRev {
    from {
        opacity: 0;
        transform: translateY(-10vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes HewwoBar {
    from {
        transform: translateY(-200%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes Background {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes HewwoSmall {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}