:root[data-theme="theme-light"] {
    --bg1: #fdfbfe;
    --bg2: #e2e9f8;
    --bg3: #004397;
    --text: #1E1D2F;
    --text2: white;
    --code: #00000020;
    --gradient: linear-gradient(180deg, #415DFF 100%, #1E1D2F 100%);
    --effect: brightness(90%);
}

:root[data-theme="theme-dark"] {
    --bg1: #171b25;
    --bg2: #262d3c;
    --bg3: #6F9EFF;
    --text: white;
    --text2: #1E1D2F;
    --code: #FFFFFF20;
    --gradient: linear-gradient(180deg, #BFC9FF 100%, #7287FE 100%);;
    --effect: brightness(150%)
}

@keyframes slidein {
    from {
        transform: translateX(30%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes mslidein {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes Hewwo {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}