@import "base.css";
@import "animations.css";
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/

@media only screen and (orientation: portrait) {
    html {
        font-size: 3vw;
        scroll-behavior: smooth;
    }
}

@media only screen and (orientation: landscape) {
    html {
        font-size: 0.9em;
        scroll-behavior: smooth;
    }
}


body {
    background: var(--bg);
    font-family: Inter, sans-serif;
    color: var(--text);
    transition: all 0.25s;
    margin: 0;
    overflow-x: hidden;
    overflow-y: visible;
}

a {
    color: inherit !important;
    text-decoration: none !important;
    transition: all 0.25s ease-out;
    cursor: pointer;
}

code {
    padding: 1em 1.5em !important;
    border-radius: 3em !important;
    background: var(--bg) !important;
    font-size: 0.95em;
}